<html>
    <head>
        <title>Alyce and Jenny's</title>
    </head>
    <body>
        <div>
            <h1><a href="">Alyce and Jenny's Blog</a></h1>
        </div>
        {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

        {{ posts }}

            <h2><a href=""> Alyce's Post</a></h2>
            <p>Hi c: </p>
            <p>published: 19.07.2017, 10:10AM</p>
        </div>

        <div>

            <h2><a href="">Jenny's Post</a></h2>
            <p>Hi (:</p>
            <p>published: 20.07.2017, 6:00PM</p>
        {{ posts }}
    </body>
</html>
