<html>
    <head>
        <title>Alyce and Jenny's</title>
    </head>
    <body>
        <div>
            <h1><a href="">Alyce and Jenny's Blog</a></h1>
        </div>

        <div>

            <h2><a href=""> Alyce's Post</a></h2>
            <p>Hi c: </p>
            <p>published: 19.07.2017, 10:10AM</p>
        </div>

        <div>
            
            <h2><a href="">Jenny's Post</a></h2>
            <p>Hi (:</p>
            <p>published: 20.07.2017, 6:00PM</p>
        </div>
    </body>
</html>
